$black: #000000;
$light-blue: #63d1bb;
$white: #ffffff;
$opacity-hover: 0.6;
$opacity-active: 0.3;
$grey: #444444;
$tablet-width: 768px;
$tablet-padding: 50px;
$mobile-width: 320px;
$mobile-padding: 30px;
$desktop-width:1250px;
$desktop-padding: 100px;
